@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --purple: #5280E2;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-grey: #E0DEDE;
    --medium-grey: #2F3034;
    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    background: var(--bg-dark);
}

body,
button,
input,
select,
textarea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    margin: 0;
    font-weight: 400;
}

p {
    color: var(--light-grey);
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.secondary-button {
    background: var(--medium-grey);
    border: 1px solid var(--purple);
    color: var(--green);
    font-weight: bold;
    height: 80px;
    display: flex;
    align-items: center;
}

.secondary-button img {
    margin-right: 15px;
}

.title-purple {
    color: var(--purple);
}

.title-green {
    color: var(--green);
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 24px;
    color: var(--green);
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.about-me .img-container .line {
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--purple);
    position: absolute;
    top: -25px;
    left: calc(50% - 70%/2 - 25px);
}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
    color: var(--green);
}

.services {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
}

.services-container,
.portfolio-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 0;
}

.services .services-container .service-card {
    max-width: 360px;
    background: #2F3034;
    border: 1px solid var(--purple);
    border-radius: 16px;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services .services-container .service-card img {
    margin-bottom: 40px;
    width: 90px;
}

.service-card+.service-card {
    margin-left: 10px;
}

.portfolio {
    padding: 0 ;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: url('/assets/portfolio-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 50px;
    width: 800px;
    height: 450px;
    overflow: hidden;
    border-radius: 25px;
}

.slides{
    width: 900%;
    height: 400px;
    display: flex;
    
    
}

.slides input{
    display: none;
    
}

.slide{
    width: 11.1%;
    position: relative;
    transition: 2s;
    

}

.slide img{
    width: 900px;
    
}
 .manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
 }
.manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}

#slide1:checked ~ .first{
    margin-left: 0;
}
#slide2:checked ~ .first{
    margin-left: -11.1%;
}
#slide3:checked ~ .first{
    margin-left: -22.2%;
}
#slide4:checked ~ .first{
    margin-left: -33.3%;
}
#slide5:checked ~ .first{
    margin-left: -44.4%;
}
#slide6:checked ~ .first{
    margin-left: -55.5%;
}
#slide7:checked ~ .first{
    margin-left: -66.6%;
}
#slide8:checked ~ .first{
    margin-left: -77.7%;
}
#slide9:checked ~ .first{
    margin-left: -88.8%;
}

.navigation-auto div{
    border: 2px solid #15CDCB;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#slide1:checked ~ .navigation-auto .auto-btn1{
    background-color: #15CDCB;
}
#slide2:checked ~ .navigation-auto .auto-btn2{
    background-color: #15CDCB;
}
#slide3:checked ~ .navigation-auto .auto-btn3{
    background-color: #15CDCB;
}
#slide4:checked ~ .navigation-auto .auto-btn4{
    background-color: #15CDCB;
}
#slide5:checked ~ .navigation-auto .auto-btn5{
    background-color: #15CDCB;
}
#slide6:checked ~ .navigation-auto .auto-btn6{
    background-color: #15CDCB;
}
#slide7:checked ~ .navigation-auto .auto-btn7{
    background-color: #15CDCB;
}
#slide8:checked ~ .navigation-auto .auto-btn8{
    background-color: #15CDCB;
}
#slide9:checked ~ .navigation-auto .auto-btn9{
    background-color: #15CDCB;
}

.info-slide{
    height: fit-content;
    width: 200px;
    background: var(--medium-grey);
    margin-right: 25px;
    border-radius: 25px;
    padding: 16px 20px;
    color: var(--green);
    
    
}

.info-slide h3{
    font-size: 16px;
    margin: 10px 0;
}

.padrao-info{
    font-size: 13px;
    color: white;
    
}
#linguagens{
    display:inline;
    font-weight: bold;
    flex-wrap: wrap;
}
#linguagens p{
    font-weight: normal;
}

.flex{
    display: flex;
}
.margem{
    margin-left: 10px;
}
.link p {
    font-weight: normal;
    font-size: 12px;
}
.mobile p {
    font-weight: normal;
    font-size: 12px;
}
.link a{
    font-size: 14px;
    font-weight: bold;
    color: var(--light-grey);
}


p {
    margin: 0;
}

.curriculum {
    padding: 0 100px;
    text-align: center;
}

.curriculum .container {
    display: flex;
    margin: 50px auto;
    max-width: 1200px;
}

.curriculum .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}

.curriculum .container .content .curriculum-info {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 1rem;
    margin-bottom: 50px;
}

.contact {
    max-width: 700px;
    margin: 150px auto 70px;
    text-align: center;
    padding: 0 20px;
}

.contact h1 {
    width: fit-content;
    margin: 0 auto 40px;
    background: -webkit-linear-gradient(#15CDCB, #5280E2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact button {
    margin: 40px auto;
}

.contact .social-media {
    max-width: 360px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
    margin-bottom: 40px;
}


/*  RESPONSIVIDADE */


/* small desktops */

@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }
    nav ul a {
        font-size: 18px;
    }
    nav {
        padding: 0 30px;
    }
    .about-me {
        flex-direction: column;
    }
    .about-me .container,
    .about-me .img-container {
        width: 100%;
    }
    .about-me .container {
        padding-right: 0;
    }
    .about-me .img-container {
        margin: 70px 0;
    }
    .services,
    .portfolio {
        padding: 0;
    }
    .services .services-container,
    .portfolio .portfolio-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .service-card {
        height: 394px;
    }
    .service-card+.service-card,
    .portfolio-card+.portfolio-card {
        margin-left: 0;
        margin-top: 30px;
    }
    .portfolio {
        height: 100%;
    }
    .curriculum .container {
        flex-wrap: wrap;
    }
    .curriculum .container .curriculum-img {
        display: block;
        margin: 0 auto 50px;
        width: 100%;
        max-width: 520px;
    }
}


/* tablet */

@media (max-width: 767px) {
    header .container img {
        display: inline;
        margin-bottom: 70px;
    }
    nav img {
        display: none;
    }
    nav ul {
        padding: 0;
    }
    nav ul a {
        font-size: 16px;
    }
}


/* celular */

@media (max-width: 480px) {
    body {
        margin-bottom: calc(var(--menu-height) + 50px);
    }
    header .container {
        padding: 0 40px;
    }
    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }
    nav ul a {
        font-size: 12px;
    }
    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }
    .about-me {
        padding: 40px;
    }
    .services {
        margin: 70px 0;
    }
    .services .services-container,
    .portfolio-container {
        padding: 0 20px;
    }
    .portfolio .portfolio-container {
        margin-top: 70px;
    }
    .portfolio {
        margin: 100px 0 50px;
    }
    .curriculum {
        padding: 0 20px;
    }
    .curriculum .container .content .curriculum-info {
        padding: 0 15px;
    }
}