@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --purple: #5280E2;
    --green: #15cdcb;
    --bg-dark: #212226;
    --light-grey: #e0DEDE;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: var(--bg-dark);
}

body,
button,
input,
select,
textarea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    margin: 0;
    font-weight: 400;
}

p {
    color: var(--light-grey);
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    color: white;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;
}

header {
    height: calc(100vh - 85px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    padding: 0 100px;
    height: fit-content;
}

header .container h1 {
    color: var(--green);
}

header .container button {
    margin-top: 40px;
}

header .container .img {
    border-left: 7px solid #5280E2;
    padding: 0 0 0 10px;
    display: none;
}

nav .img {
    border-left: 7px solid #5280E2;
    padding: 0 0 0 10px;
    margin: 0 30px 0 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    top: 0;
    background: var(--bg-dark);
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    font-size: 25px;
    color: #15cdcb;
}


/*RESPONSIVE*/


/*tablet*/

@media(max-width: 1000px) {
    header .container {
        width: 100%;
    }
    nav .img {
        display: none;
    }
    nav ul a {
        font-size: 18px;
    }
    nav {
        padding: 0 30px;
    }
}

@media(max-width: 767px) {
    header .container .img {
        border-left: 7px solid #5280E2;
        padding: 0 0 0 10px;
        display: block;
        margin-bottom: 70px;
    }
    nav .img {
        display: none;
    }
    nav ul a {
        font-size: 16px;
    }
}


/*CELULAR*/

@media(max-width:480px) {
    header .container {
        padding: 0 30px;
    }
}