body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: rgb(0, 166, 255);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

nav {
    display: block;
}

.logo {
    color: white;
    font-size: 34px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.linha {
    height: 3px;
    background-color: white;
    margin-bottom: 12px;
}

.column {
    flex-direction: column;
}

.banner {
    background-image: url("../image/header-img.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.banner-headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin-top: 25px;
    padding: 0;
    max-width: 600px;
}

.ninico {
    background-color: transparent;
    border: solid 3px white;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 2s ease;
}

.ninico:hover {
    font-size: 18px;
}

.sobre-vendas {
    margin-top: 50px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
}

.balao {
    border: solid 5px black;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00A6FF;
    border-radius: 100px;
}

.sobre1 .balao svg {
    width: 50px;
    height: 50px;
    color: white;
}

.sobre1 {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0 20px;
}

.title p {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
}

.local-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 350px;
    background: rgb(236, 236, 236);
    margin: 25px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    display: flex;
    box-shadow: rgb(126, 122, 122) 2px 2px 1px;
}

.card .imagem {
    height: 230px;
    background: rgb(236, 236, 236);
    width: 250px;
}

.card .imagem .sale {
    position: absolute;
    left: 0;
    top: 15px;
    background: red;
    border-radius: 0px 8px 8px 0px;
    padding: 5px 10px;
}

.card .imagem .sale p {
    padding: 1px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.card .info-card {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
}

.card .info-card h3,
p {
    margin: 5px;
    text-align: center;
}

.card button {
    margin-bottom: 15px;
    background-color: #00A6FF;
    color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 2px;
    font-size: 15px;
    font-weight: bold;
}

.card .imagem .img-card {
    width: 250px;
    height: 200px;
    object-fit: cover;
}